<!DOCTYPE html>
  <html>

  <head>    
    <!--my links to bootstrap and CSS-->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <!--my links to bootstrap and CSS-->
  </head>
  
    <body>
      <div class="container">
        <%= yield %>
      </div>
    </body>
  </html>